* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    /* font-size: 16px; */
}


body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto; /* 10vh 10vh 1000px 10vh */
    grid-template-areas: 
        'nav1' 
        'nav2'
        'main'
        'footer';

    height: 100vh;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 10vh 1fr 1fr;
    grid-template-areas: 
        'blank-spacer1'
        'body-row-1'
        'blank-spacer2'
        'body-row-2'
        'body-row-3';
}

#blank-spacer1 {
    grid-area: blank-spacer1;
}

#blank-spacer2 {
    grid-area: blank-spacer2;
}

#body-row-1 {
    grid-area: body-row-1;
    /* width: 100vw; */
}

#body-row-2 {
    grid-area: body-row-2;
}

#body-row-3 {
    grid-area: body-row-3;
}

#grid-row-one {
    grid-area: nav1;
    /* background-color: rgba(0,0,255,.2); */
    /* background-image: linear-gradient(to right, rgba(0,0,255,.9), rgba(0,0,255,.1)); */
    /* background-image: linear-gradient(180deg, purple, red); */
    /* background-color: #F6F6F8; */
    background-color: #c5d5cb;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 4vh;
}

#grid-row-two {
    grid-area: nav2;
    /* background-color: rgba(0,0,255,.4); */
    /* background-image: linear-gradient(to left, rgba(255,0,0,.9), rgba(0,0,255,.1)); */
    /* background-image: linear-gradient(180deg, purple, pink); */
    /* background-color: #E3E3E3; */
    background-color: #9fa8a3;

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 4vh;
}

ul {
}

ul:hover {
    color: black;
    font-weight: bold;
}



#grid-row-three {
    grid-area: main;
    overflow: auto;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    /* background-color: #F6F6F8; */
    background-color: #e3e0cf;

}

div {
    /* width: 100%; */
    border: black 1px solid;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

h1 {
    color: red;
    font-size: 30px;

    color: black;
    font-weight: bold;

    
}

p {
    font-size: 20px ;
}

#grid-row-last {
    grid-area: footer;
    /* background-color: #E3E3E3; */
    background-color: #c5d5cb;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4vh;
}

.logo {
    font-size: 20px;
}


#bio {
    /* margin-top: 40px; */
}